<div class="container p-5">
    <div class="row mt-5">

       <B>About Us</B>
            <p>
We are ‘Shoezy’, a small-scale Sri Lankan designer wear footwear store which is run online and specifically caters the footwear needs of womenand men. This platform offers a wide variety of shoe options, all showcased on a single, user-friendly platform. Through ‘Shoezy’ it is expected to provide a seamless and reliable shopping experience and be a one-stop solution for all your shoe needs. Whether you are looking for a new pair of sneakers, stylish pair of heels or a comfortable pair of loafers, ‘Shoezy’ has got all of them covered!
There are a wide variety of shoe options to select from and all our products are designed in a way to provide you with utmost comfort and durability by using only quality material. There will also be a review and rating system to ensure your satisfaction and also to improve our service rendered to you. You can use the live chat option which is dedicated to answer any questions you may encounter while choosing the products. Also, we have given you the opportunity to contact with other such buyers like you so that you can be sure of what you are buying.
            </p>
            <br/>
<B>Our mission and vision</B>
            <p>
Meet the highest standards of durability, comfort and style and conduct an efficient supply and distribution network across the country.
Follow a very humanistic approach always, by offering the highest ethical standards, environmental standards and cultural values for the benefit of the community.
            </p>

        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
</div>
