<div class="container p-5">
    <div class="row mt-5">

    <h2>Shoezy Terms & Conditions</h2>
    </div>
    <div class="row mt-5">
        <B>Introduction</B>
        <p>‘Shoezy’ owns and operate this Website. Throughout the site, the terms “we”, “us” and “our” refer to Shoezy and this document governs your relationship with Shoezy. Access to and use of this website and the product and services available through this website (collectively the “Services”) are subject to the following terms, conditions and notices (the “Terms of Service”). By using the Services, you are agreeing to all of the Terms of Service, as may be updated by us from time to time. You should check this page regularly to take notice of any changes we may have made to the Terms of Service.
        Access to this website is permitted on a temporary basis, and we reserve the right to withdraw or amend the services without notice. We will not be liable if for any reason this website is unavailable at any time or for any period. From time to time, we may restrict access to some parts or all of this website.
        This website may contain links to other websites (the “Linked Sites”), which are not operated by Shoezy and has no control over the Linked Sites and accepts no responsibility for them or for any loss or damage that may arise from your use of them. Your use of the Linked Sites will be subject to the terms of use and service contained within each such site.
        </p>

        <B>Privacy Policy</B>
        <p>
            •	You must not misuse this website. You will not: commit or encourage a criminal offense; transmit or distribute a virus, trojan, worm, logic bomb or any other material which is malicious, technologically harmful, in breach of confidence or in any way offensive or obscene; hack in to any aspect of the service; corrupt data; cause annoyance to other users; infringe upon the rights of any other person’s proprietary rights; send any unsolicited advertising or promotional material, commonly referred to as “spam”; or attempt to affect the performance or functionality of any computer facilities of or accessed through this website. Breaching this provision would constitute a criminal offense and Shoezy will report any such breach to the relevant law enforcement authorities and disclose your identity to them.
       <br/> •	We will not be liable for any loss or damage caused by a distributed denial-of-service attack, viruses or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of this Website or to your downloading of any material posted on it, or on any website linked to it.
        <br/>•	Strictly No online re-sales, pop-up sales or any other wholesale or retail trading of Shoezy footwear is permitted.
            <br/> •	Shoezy footwear designs have been protected by the “INTELLECTUAL PROPERTY ACT OF Sri Lanka, No. 36 of 2003” and therefore copying and re-creating will not be tolerated.
            <br/>•	The Digital figures on our page are secured by the “INTELLECTUAL PROPERTY ACT OF Sri Lanka, No. 36 of 2003”. No potion of these photos can be re-produced or taken for commercial purposes without written permission Shoezy. It is strictly prohibited and considered as intended copyrights infringement.
        </p>

        <B>Products</B>
        <p>
        Our products include physical products fully designed and created by us. Please note that in the case of limited production Products extra restrictions such as limiting the number of such Products per consumer may apply. These extra restrictions will be made known to you via the Platform. All Products shown on the Platform are subject to availability. This means that, although we strive to ensure our Platform reflects the availability of stock, a Product shown on the Platform may no longer be available for purchase.
        Minor differences in colour and other variations in Products are possible as a result of different image acquisition, display technologies or other technical reasons and Shoezy is not liable for these variations and deviations. No rights can be derived from typing errors, product descriptions or manifest errors on the Platform.
        </p>

        <B>Maintenance of products</B>
        <p>
        We draw your attention to the washing and maintenance instructions printed on the labels of the Products. We are not liable for any damage resulting from incorrect handling of Products, including handling contrary to the instructions.
        Retention of title
        All Products will remain the property of Shoezy until you have paid all amounts owed to us in full under any agreement, including the payment of costs, earlier or later deliveries or partial deliveries. You may not sell, dispose of or encumber any Product before full title thereof has passed to you.
        </p>
        <B>ORDER CANCELLATION</B>
        <p>
        Notwithstanding your right of withdrawal, it is possible, under limited circumstances, to cancel your order for Standard Products. Please use Help section and contact us directly for more information.
        </p>
<br/>
<br/>
    </div>
</div>
